<div class="crancy-wc__form--middle">
    <div class="crancy-wc__banner">
        <div class="crancy-wc__logo">
            <a href="index.html"><img src="~/img/logo-white.png" alt="#"></a>
        </div>
        <img src="~/img/welcome-vector.png" alt="#">
    </div>
    <div class="crancy-wc__form-inner">
        <div class="crancy-wc__heading">
            <h3 class="crancy-wc__form-title crancy-wc__form-title__one">Đăng nhập vào tài khoản</h3>
        </div>
        <!-- Sign in Form -->
        <form class="crancy-wc__form-main" action="index.html" method="post">
            <!-- Form Group -->
            <div class="form-group">
                <div class="form-group__input">
                    <input class="crancy-wc__form-input" type="email" name="email" placeholder="admin@mail.com" required="required">
                </div>
            </div>
            <!-- Form Group -->
            <div class="form-group">
                <div class="form-group__input">
                    <input class="crancy-wc__form-input" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" id="password-field" type="password" name="password" maxlength="8" required="required">
                    <span class="crancy-wc__toggle"><i class="fas fa-eye" id="toggle-icon"></i></span>
                </div>
            </div>
            <!-- Form Group -->
            <div class="form-group">
                <div class="crancy-wc__check-inline">
                    <div class="crancy-wc__checkbox">
                        <input class="crancy-wc__form-check" id="checkbox" name="checkbox" type="checkbox">
                        <label for="checkbox">Ghi nhớ đăng nhập</label>
                    </div>
                    <div class="crancy-wc__forgot">
                        <a onclick="onButtonForgotPasswordClicked()" class="forgot-pass">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
            <!-- Form Group -->
            <div class="form-group form-mg-top25">
                <div class="crancy-wc__button">
                    <button class="ntfmax-wc__btn" type="submit" onclick="onButtonLoginClicked()">Đăng nhập</button>
                </div>
            </div>
            <!-- Form Group -->
            <div class="form-group form-mg-top30">
                <div class="crancy-wc__bottom">
                    <p class="crancy-wc__text">Nếu bạn chưa có tài khoản ? <a onclick="onButtonCreateAccountClicked()">Đăng ký</a></p>
                </div>
            </div>
        </form>
        <!-- End Sign in Form -->
    </div>
</div>

<script>
    function onButtonLoginClicked() {
        location.href = '@Url.Action("Index", "ProfileDiary", new { area = "Diary" })';
    }

    function onButtonForgotPasswordClicked() {
        location.href = '@Url.Action("Index", "ForgotPassword", new { area = "Admin" })';
    }

    function onButtonCreateAccountClicked() {
        location.href = '@Url.Action("Index", "CreateAccount", new { area = "Admin" })';
    }
</script>