<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Nhật Ký Hành Trình</title>
    <!-- Meta Tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="#">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Title -->
    <title>My Diary - Nhật Ký Hành Trình</title>

    <!-- Fav Icon -->
    <link rel="icon" href="~/img/favicon.png">
    <!-- Fav Icon -->
    <link rel="icon" href="~/img/favicon.png">

    <!-- Dashra Stylesheet -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome-all.min.css">
    <link rel="stylesheet" href="~/css/charts.min.css">
    <link rel="stylesheet" href="~/css/datatables.min.css">
    <link rel="stylesheet" href="~/css/jvector-map.css">
    <link rel="stylesheet" href="~/css/fancy-box.min.css">
    <link rel="stylesheet" href="~/css/nice-select.min.css">
    <link rel="stylesheet" href="~/css/pikaday.min.css">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/pikaday.min.css">
    <link rel="stylesheet" href="~/style.css">

    <!-- Dashra Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/charts.js"></script>
    <script src="~/js/final-countdown.min.js"></script>
    <script src="~/js/fancy-box.min.js"></script>
    <script src="~/js/fullcalendar.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/js/jquery-jvectormap.js"></script>
    <script src="~/js/jvector-map.js"></script>
    <script src="~/js/nice-select.min.js"></script>
    <script src="~/js/pikaday.min.js"></script>
    <script src="~/js/main.js"></script>
</head>
<body class="welcome">
    @RenderBody()
</body>
</html>
