<!-- crancy Dashboard -->
<section class="crancy-adashboard crancy-show">
	<div class="container">
		<div class="row">
			<div class="col-12 mg-top-30">
				<!-- BreadCrumb -->
				<div class="crancy-pbreadcrumb">
					<h4 class="crancy-sidebar__title">Nhật ký của tôi</h4>
@* 					<ul class="crancy-pbreadcrumb__list">
						<li><a href="index.html">Home</a></li>
						<li class="active"><a href="profile-overview.html">Nhật ký của tôi</a></li>
					</ul> *@
				</div>
				<!-- End BreadCrumb -->
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="crancy-body">
					<!-- Dashboard Inner -->
					<div class="crancy-dsinner">
						<div class="crancy-userprofile__header mg-top-30">
							<img src="~/img/profile-cover.png" alt="#">
@* 							<div class="crancy-userprofile__right">
								<a href="#" class="crancy-btn crancy-ybcolor crancy-btn__profile">
									Edit
									Profile
								</a>
								<a href="#" class="crancy-btn crancy-btn__share">
									<svg width="23" height="22"
										 viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M12.4922 5.51801C12.4922 5.43549 12.4922 5.37668 12.4922 5.31786C12.4908 3.80698 12.4894 2.2961 12.4881 0.784769C12.4876 0.460163 12.6709 0.18525 12.97 0.0626106C13.2823 -0.0654996 13.6374 0.00562209 13.8708 0.251813C14.1079 0.50165 14.3391 0.756959 14.5725 1.00999C16.9742 3.6114 19.3723 6.216 21.7827 8.80921C22.0863 9.13564 22.0863 9.7347 21.7863 10.0579C19.1471 12.9024 16.5188 15.7568 13.8868 18.608C13.6356 18.8802 13.3069 18.9586 12.9864 18.8264C12.6668 18.6947 12.4899 18.4006 12.4899 18.0404C12.4899 16.5204 12.4844 15 12.4803 13.48C12.4803 13.449 12.4735 13.418 12.4676 13.3706C12.4092 13.3706 12.3559 13.3697 12.3021 13.3706C9.96553 13.4216 7.82231 14.1082 5.8537 15.3506C4.32002 16.3185 3.04895 17.5544 2.11206 19.1177C1.60053 19.9712 1.23261 20.8826 1.02517 21.8573C1.01788 21.8915 1.00602 21.9248 0.984596 22C0.896606 21.7821 0.818646 21.6024 0.750715 21.4196C0.0700445 19.5905 -0.16338 17.7081 0.114724 15.7728C0.385533 13.8885 1.11088 12.1857 2.25521 10.6707C4.17459 8.12899 6.70944 6.52693 9.80642 5.8107C10.6271 5.62104 11.4623 5.52804 12.3053 5.51846C12.3591 5.51755 12.4133 5.51801 12.4922 5.51801Z">
										</path>
									</svg>
								</a>
							</div> *@
						</div>
						<!-- Profile Inner Section -->
						<div class="crancy-upinner">
							<div class="row">
								<div class="col-lg-12 col-12">
									<!-- Profile Overview -->
									<div class="crancy-upcontent mg-top-30">
										<div class="crancy-taskarea">
											<div class="row">
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color1__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Điều mà mình vừa ghi có lợi ích gì cho ngày mai/một năm sau/ hay cho con cháu mình không?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-pcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color2__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Trong tương lai liệu tôi có nhận được nguồn cảm hứng sáng tạo nào không sau khi đọc lại những điều này?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-gcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color3__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Tôi có nên ghi chú thêm vào nhật ký của mình về một trang báo, một quyển sách hay một kế hoạch để sau này tham khảo không?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-color3">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color4__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Điều này liệu có tiếp thêm sức mạnh để tôi có thể dũng cảm thực hiện những kế hoạch lớn sẽ làm thay đổi cuộc đời mình chứ?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-rcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color2__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Những điều ấy sau này có trở nên hữu ích đối với công việc của mình không?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-gcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color4__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Giấc mơ: Giấc mơ của bạn có để lại dư âm gì khi bạn thức dậy không?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-rcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color3__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Tiềm thức đang cố gắng báo hiệu cho bạn biết điều gì?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-color3">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color1__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Từ khi tôi bắt đầu ghi chép và phân tích những giấc mơ, tôi đã có thể thấu hiểu bản thân mình hơn rất nhiều.
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-pcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color1__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Điều gì đang diễn ra ở cuộc sống hiện tại có thể thúc đẩy tôi đưa ra quyết định và hành động?
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-pcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color2__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Tôi thường vẽ thêm những ô trống vào đầu mỗi dòng nhật ký, tương lai tôi sẽ càng mong muốn thực hiện những dự định của mình hơn để sớm được tích hết vào những ô trống đó.
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-gcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color3__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Tôi cảm thấy khó chịu khi anh bạn tôi và tôi cùng nói chuyện với một cô gái, cô ấy chỉ chủ ý tới bạn tôi thôi, điều đó làm tôi buồn vì tôi không thể tích cực trò chuyện được như anh ấy.
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-color3">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
												<div class="col-xxl-3 col-lg-6 col-md-6 col-12">
													<!-- Single Task -->
													<div class="crancy-tasksingle crancy-color4__opacity--bg mg-top-25">
														<h4 class="crancy-tasksingle__title">
															<a href="#">
																Kể từ khi thiết lập thói quen viết nhật ký vào mỗi tối, tôi đã sống theo một cách hoàn toàn khác so với hồi trước.
															</a>
														</h4>
														<p class="crancy-tasksingle__assign">
															Ngày tạo :
															<span class="crancy-rcolor">
																
																Ngày 29/09/2023, 20:35
															</span>
														</p>
													</div>
													<!-- End Single Task -->
												</div>
											</div>

											<div class="row mg-top-30">
												<div class="crancy-pagination">
													<ul class="crancy-pagination__list">
														<li class="crancy-pagination__button">
															<a href="#">
																<i class="fas fa-angle-left"></i>
															</a>
														</li>
														<li><a href="#">1</a></li>
														<li class="active"><a href="#">2</a></li>
														<li><a href="#">3</a></li>
														<li><a href="#">...</a></li>
														<li><a href="#">4</a></li>
														<li class="crancy-pagination__button">
															<a href="#">
																<i class="fas fa-angle-right"></i>
															</a>
														</li>
													</ul>
												</div>
											</div>

										</div>
									</div>
									<!-- End Profile Overview -->

								</div>
							</div>
						</div>
						<!-- End Profile Inner Section -->

					</div>
					<!-- End Dashboard Inner -->
				</div>
			</div>


		</div>
	</div>
</section>
<!-- End crancy Dashboard -->

<script>
	$(document).ready(function () {
		$('#crancy-table__main').DataTable({
			searching: true, // Enable search functionality
			info: true,
			lengthChange: true, // Enable the ability to change the number of records per page
			pageLength: 4,
			lengthMenu: [
				[4, 10, 25, 50, -1],
				[4, 10, 25, 50, 'All'],
			],
			language: {
				paginate: {
					next: '<i class="fas fa-angle-right"></i>',
					previous: '<i class="fas fa-angle-left"></i>'
				},
				lengthMenu: 'Show result: _MENU_ ' // Customize the "Show entries" text
			},
			dom: 'rt<"crancy-table-bottom"flp><"clear">' // Set the desired layout for the table
		});

		$('#crancy-table__document').DataTable({
			searching: false, // Enable search functionality
			info: true,
			lengthChange: true, // Enable the ability to change the number of records per page
			pageLength: 10,
			lengthMenu: [
				[10, 10, 25, 50, -1],
				[10, 10, 25, 50, 'All'],
			],
			language: {
				paginate: {
					next: '<i class="fas fa-angle-right"></i>',
					previous: '<i class="fas fa-angle-left"></i>'
				},
				lengthMenu: 'Show result: _MENU_ ' // Customize the "Show entries" text
			},
			dom: 'rt<"crancy-table-bottom"flp><"clear">' // Set the desired layout for the table
		});

	});
</script>
<script>
	const ctx_task_one = document.getElementById('myChart_task_One').getContext('2d');
	const myChart_task_One = new Chart(ctx_task_one, {
		type: 'doughnut',

		data: {
			labels: [
				'Total Task',
				'Completed Task',
			],
			datasets: [{
				label: 'My First Dataset',
				data: [22, 78],
				backgroundColor: [
					'#E4F2FF',
					'#F2C94C',
				],
				hoverOffset: 2,
				borderWidth: 0,
			}]
		},

		options: {

			responsive: true,
			cutout: 105,
			plugins: {
				legend: {
					position: 'top',
					display: false,
				},
				title: {
					display: false,
					text: 'Sell History'
				}
			}
		}

	});
</script>
