<div class="crancy-wc__form--middle">
	<div class="crancy-wc__banner">
		<div class="crancy-wc__logo">
			<a href="index.html"><img src="~/img/logo-white.png" alt="#"></a>
		</div>
		<img src="~/img/welcome-vector.png" alt="#">
	</div>
	<div class="crancy-wc__form-inner">
		<div class="crancy-wc__heading">
			<h3 class="crancy-wc__form-title crancy-wc__form-title__one">Tạo tài khoản</h3>
		</div>
		<!-- Sign in Form -->
		<form class="crancy-wc__form-main" action="index.html" method="post">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-12">
					<!-- Form Group -->
					<div class="form-group">
						<div class="form-group__input">
							<input class="crancy-wc__form-input" type="text" name="first-name" placeholder="Họ" required="required">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="form-group">
						<div class="form-group__input">
							<input class="crancy-wc__form-input" type="text" name="last-name" placeholder="Tên" required="required">
						</div>
					</div>
				</div>
			</div>
			<!-- Form Group -->
			<div class="form-group">
				<div class="form-group__input">
					<input class="crancy-wc__form-input" type="email" name="email" placeholder="Email" required="required">
				</div>
			</div>
			<!-- Form Group -->
			<div class="form-group">
				<div class="form-group__input">
					<input class="crancy-wc__form-input" placeholder="Mật khẩu" id="password-field" type="password" name="password" maxlength="8" required="required">
					<span class="crancy-wc__toggle"><i class="fas fa-eye" id="toggle-icon"></i></span>
				</div>
			</div>
			<!-- Form Group -->
			<div class="form-group">
				<div class="crancy-wc__check-inline">
					<div class="crancy-wc__checkbox">
						<input class="crancy-wc__form-check" id="checkbox" name="checkbox" type="checkbox">
						<label for="checkbox">Bạn có đồng ý với Điều khoản và Điều kiện.</label>
					</div>
				</div>
			</div>
			<!-- Form Group -->
			<div class="form-group form-mg-top25">
				<div class="crancy-wc__button">
					<button class="ntfmax-wc__btn" type="submit">Đăng ký với Email</button>
				</div>
			</div>
			<!-- Form Group -->
			<div class="form-group form-mg-top30">
				<div class="crancy-wc__bottom">
					<p class="crancy-wc__text">Bạn đã có tài khoản chưa ? <a onclick="onButtonBackToLoginClicked()">Đăng nhập</a></p>
				</div>
			</div>
		</form>
		<!-- End Sign in Form -->
	</div>
</div>

<script>
	function onButtonBackToLoginClicked() {
		location.href = '@Url.Action("Index", "Home", new { area = "" })';
	}
</script>