<!-- crancy Dashboard -->
<section class="crancy-adashboard crancy-show">
	<div class="container">
		<div class="row">
			<div class="col-12 mg-top-30">
				<!-- BreadCrumb -->
				<div class="crancy-pbreadcrumb">
					<h4 class="crancy-sidebar__title">Viết nhật ký</h4>
				</div>
				<!-- End BreadCrumb -->
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="crancy-body">
					<!-- Dashboard Inner -->
					<div class="crancy-dsinner">
						<div class="mg-top-30">
							<!-- End All Notification Heading -->
							<div class="crancy-chatbox">
								<div class="row g-0">
									<div class="crancy-chatbox__explore">
										<div class="crancy-chatbox__explore-body">
											<!-- Outgoing List -->
											<div class="crancy-chatbox__incoming crancy-chatbox__outgoing">
												<ul class="crancy-chatbox__incoming-list">
													<!-- Single Incoming -->
													<li>
														<div class="crancy-chatbox__chat">
															<div class="crancy-chatbox__main-content">
																<div class="crancy-chatbox__incoming-chat">
																	<p class="crancy-chatbox__incoming-text">
																		Hôm nay tôi thật mệt mỏi, những chuyện khó khăn trong cuộc sống cứ đến với tôi, tôi phải làm sao đây
																	</p>
																</div>
															</div>
															<div class="crancy-chatbox__author-img">
																<img src="~/img/collection-3.png" alt="#">
															</div>
														</div>
													</li>
													<!-- End Single Incoming -->
												</ul>
											</div>
											<!-- End Outgoing List -->
											<!-- Incomming List -->
											<div class="crancy-chatbox__incoming">
												<ul class="crancy-chatbox__incoming-list">
													<!-- Single Incoming -->
													<li>
														<div class="crancy-chatbox__chat">
															<div class="crancy-chatbox__author-img">
																<img src="~/img/social-1.png" alt="#">
															</div>
															<div class="crancy-chatbox__main-content">
																<div class="crancy-chatbox__incoming-chat">
																	<p class="crancy-chatbox__incoming-text">
																		Tôi rất tiếc khi nghe bạn đang trải qua những thời điểm khó khăn. Cuộc sống có thể gặp phải nhiều thách thức và mệt mỏi là một phần tự nhiên của cuộc sống hàng ngày. Tuy nhiên, có một số cách bạn có thể thử để giúp bạn vượt qua những thời gian khó khăn này:
																		<br />
																		- Nghỉ ngơi và chăm sóc bản thân: Đảm bảo bạn có đủ giấc ngủ và nghỉ ngơi để tái tạo năng lượng. Hãy dành thời gian cho các hoạt động giúp bạn thư giãn và tạo niềm vui, như đọc sách, nghe nhạc, đi dạo, hoặc tham gia vào sở thích của bạn.
																		<br />
																		- Đặt mục tiêu nhỏ: Chia nhỏ các nhiệm vụ hoặc vấn đề lớn thành các bước nhỏ hơn và tập trung vào từng bước một. Điều này giúp bạn cảm thấy hài lòng và đạt được tiến bộ từng chút một, giảm áp lực và mệt mỏi.
																		<br />
																		- Tập thể dục: Làm việc năng động hoặc tập thể dục có thể giúp bạn giải tỏa căng thẳng và cải thiện tâm trạng. Thậm chí chỉ là đi bộ trong một khoảng thời gian ngắn cũng có thể giúp bạn cảm thấy tươi mới và sảng khoái hơn.
																		<br />
																		- Tìm kiếm cách giải quyết vấn đề: Xem xét các giải pháp có thể giúp bạn vượt qua các khó khăn mà bạn đang gặp phải. Nếu cần thiết, hãy tìm kiếm sự tư vấn từ chuyên gia hoặc chuyên viên tâm lý để được hỗ trợ và chỉ dẫn.
																		<br />
																		- Hãy nhớ rằng cuộc sống có những thăng trầm và không phải lúc nào cũng dễ dàng. Hãy cố gắng giữ một tinh thần tích cực và kiên nhẫn. Tự tin rằng bạn có khả năng vượt qua khó khăn và hãy nhớ rằng sự mệt mỏi sẽ không kéo dài mãi mãi.
																		<br />
																	</p>
																</div>
															</div>
														</div>
													</li>
													<!-- End Single Incoming -->
												</ul>
											</div>
											<!-- End Incomming List -->
											<!-- New Message -->
											<div class="crancy-chatbox__new-message">
												<div class="crancy-chatbox__form">
													<form class="crancy-chatbox__form-inner" action="#">
														<textarea name="s" value="" type="text"
																  placeholder="Type a message..."></textarea>
														<div class="crancy-chatbox__button">
															<div class="crancy-chatbox__button-inline">
	
															</div>
															<div class="crancy-chatbox__submit">
																<button class="crancy-chatbox__submit-btn"
																		type="submit">
																	<img src="~/img/send-icon.svg">Gửi
																</button>
															</div>
														</div>
													</form>
												</div>
											</div>
											<!-- End New Message -->

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Dashboard Inner -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End crancy Dashboard -->