<!-- crancy Dashboard -->
<section class="crancy-adashboard crancy-show">
    <div class="container">
        <div class="row crancy-wc__form-main mg-top-30">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">
                    <div class="form-group__input">
                        <label class="crancy-wc__form-label">Hành trình</label>
                        <input class="crancy-wc__form-input" name="journey" required="required" value="Tìm lại chính mình">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">
                    <div class="form-group__input">
                        <label class="crancy-wc__form-label">Ngày bắt đầu</label>
                        <div class="crancy-table-filter__group">
                            <input type="text" id="dateInput">
                            <span class="crancy-table-filter__icon">
                                <img src="~/img/calendar-icon.png" style="height: 20px;">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="crancy-body">
                    <!-- Dashboard Inner -->
                    <div class="crancy-dsinner">
                        <div class="mg-top-30">
                            <!-- End All Notification Heading -->
                            <div class="crancy-chatbox">
                                <div class="row g-0">
                                    <div class="col-lg-4 col-md-4 col-12 crancy-chatbox__one">
                                        <div class="crancy-chatbox__sidebar">

                                            <div class="crancy-chatbox__first-group">
                                                <h4 class="crancy-sidebar__title">Nội dung (7)</h4>
                                                <div class="crancy-chatbox__edit"><a onclick="onPopupNewDiaryClicked()"><img src="~/img/edit-icon2.svg"></a></div>
                                            </div>
                                            <!-- Chatbox List -->
                                            <ul class="crancy-chatbox__list">
                                                <!-- Single List -->
                                                <li class="active">
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 01
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                        @* 														<div class="crancy-chatbox__right">
                                                        <div class="crancy-chatbox__info">
                                                        <p class="crancy-chatbox__time">10:34PM</p>
                                                        </div>
                                                        <div class="crancy-chatbox__toggle">
                                                        <img src="~/img/toggle-icon2.svg">
                                                        </div>
                                                        </div> *@
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                                <!-- Single List -->
                                                <li>
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 02
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                                <!-- Single List -->
                                                <li>
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 03
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                                <!-- Single List -->
                                                <li>
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 04
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                                <!-- Single List -->
                                                <li>
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 05
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                                <!-- Single List -->
                                                <li>
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 06
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                                <!-- Single List -->
                                                <li>
                                                    <div class="crancy-chatbox__inner">
                                                        <div class="crancy-chatbox__author">
                                                            <div class="crancy-chatbox__author-img">
                                                                <img src="~/img/collection-2.png" alt="#">
                                                                <span class="crancy-chatbox__author-online"></span>
                                                            </div>
                                                            <div class="crancy-chatbox__author-content">
                                                                <h4 class="crancy-chatbox__author-title">
                                                                    Nội dung: Nội dung 07
                                                                </h4>
                                                                <p class="crancy-chatbox__author-desc">
                                                                    Ngày tạo: 20/09/2023
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <!-- End Single List -->
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-12  crancy-chatbox__two">
                                        <div class="crancy-chatbox__explore">
                                            <div class="crancy-chatbox__explore-body">
                                                <!-- Outgoing List -->
                                                <div class="crancy-chatbox__incoming crancy-chatbox__outgoing">
                                                    <ul class="crancy-chatbox__incoming-list">
                                                        <!-- Single Incoming -->
                                                        <li>
                                                            <div class="crancy-chatbox__chat">
                                                                <div class="crancy-chatbox__main-content">
                                                                    <div class="crancy-chatbox__incoming-chat">
                                                                        <p class="crancy-chatbox__incoming-text">
                                                                            Tôi rất tiếc khi nghe bạn nói hôm nay là một ngày khó khăn. Đôi khi cuộc sống có thể trở nên khó khăn và mệt mỏi. Nếu bạn muốn chia sẻ với tôi về những gì đã xảy ra, tôi sẽ cố gắng lắng nghe và cung cấp sự hỗ trợ nếu có thể.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <!-- End Single Incoming -->
                                                    </ul>
                                                </div>
                                                <!-- End Outgoing List -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Dashboard Inner -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End crancy Dashboard -->
@await Html.PartialAsync("PopupNewDiary")

<script>
    function onPopupNewDiaryClicked() {
        var modal = document.getElementById("popupNewDiary");
        modal.classList.add("show", "in");
        modal.style.display = "block";
    }

    var picker = new Pikaday({ field: document.getElementById('dateInput') });
    // Create a new instance of Pikaday for the date-input field
    const picker1 = new Pikaday({
        field: document.getElementById('date-input'),
        format: 'dd/MM/yyyy', // Set the desired format
        toString(date, format) {
            const day = date.getDate();
            const month = date.toLocaleString('default', { month: 'short' });
            const formattedDate = `${month}`;
            console.log("formattedDate", formattedDate);
            return formattedDate;
        }
    });
</script>