a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: #0A82FD;
    text-decoration: underline;
}

    a:not([href]):not([class]), a:not([href]):not([class]):hover {
        color: #0A82FD;
        text-decoration: underline;
    }
